{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": "auto"
            }
        ],
        [
            "@babel/preset-react",
            {
                "runtime": "automatic",
                // "development": "false"

            }
        ]

    ],
    "plugins": ["@babel/plugin-syntax-dynamic-import", "@babel/plugin-proposal-class-properties"]
}
