{
	"presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
	"plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-class-properties"
        // "@babel/transform-es2015-modules-commonjs",
        // "@babel/plugin-transform-arrow-functions"
    ]
}
/*
	"development": {
		"debug": true,
		"highlightCode": true,
		"sourceMaps": true,
		"comments": true,
		"compact": false,
		"minified": false,
		"codeFrame": true,
		"auxiliaryCommentBefore": "true"
	},
	"production": {
		"minified": true,
		"compact": true,
		"debug": false,
		"modules": "auto"
	}
*/
