{
    "env": {
        "browser": true,
		"es2021": true,
        "node": true
	},
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "plugins": [
		"react",
		"import",
		"jsx-a11y",
		"prettier"
	],
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:import/errors",
		"plugin:jsx-a11y/recommended",
		"plugin:prettier/recommended"
	],
	"ignorePatterns": [
		"node_modules/"
	],
    "parserOptions": {
      "ecmaFeatures": {
          "jsx": true,
          "modules": true,
		  "version": "2021"
		//   "experimentalObjectRestSpread": true
        },
        "sourceType": "module",
        "react": {
          "version": "detect"
        }
    },
    "rules":
    {
	  "react/react-in-jsx-scope": "off",
	  "react/jsx-uses-react": "off",
	  "react/jsx-uses-vars": "error",
	  "react/propTypes": "off",
	  "no-restricted-properties":"off",
	  "func-name-matching":"off",
	  "quotes":"off",
	  "no-duplicate-imports":"warn",
	  "no-unused-vars":"warn",
	  "react/jsx-no-bind": "off",
      "import/no-anonymous-default-export": "warn",
      "lines-around-comment":"off",
      "no-inline-comments":"off",
	  "no-confusing-arrow": [
			"off",
			{
				"allowParens": true
			}
		],
      "no-tabs": ["off", {"allowIndentationTabs": true}],
	  "curly":"warn",
	  "multiline-ternary":"off",
	  "no-unexpected-multiline":"warn",
	  "no-extra-semi":"off",
	  "no-mixed-spaces-and-tabs": "off",
	  "no-restricted-syntax": [
		  "off",
		  "SequenceExpression"
		]
	}
}
