./postcss.config.js
./tailwind.config.js
./build
./dist
.env
.babelrc
**/dist/**/*.js
./dist/**/*
./src/styles.css
./dist/bundle-report.html
./node_modules
**/node_modules/**/*
./public
./webpack.config.js
./webpack.config.development.js
./webpack.config.prodoction.js
webpack.config.development.js
webpack.config.production.js
./babelrc
./prettierrc
./vercel.json
./cypress
./dist
./data/HeadSec.js
./Docs
./Docs/**/*.js
**/Docs/**/*
./Docs/ContactForm.js
