@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');

:root {
	--sidebar-flex: 1;
	--condiv-flex: 6;
	--fontsize-p: 1.2rem;
	--fontsize-nav: 1.6rem;
	--typing-font:3rem;
}
* {
	margin: auto;
	padding: auto;
}

/* // .condiv class is for the right side content container */
.condiv
{
	padding: 100px ;
	background-color: #717379;
	flex:var(--condiv-flex);
}
body {
	margin: 10px 10px;
	padding: 10px 10px;
	background-color: rgba(189, 187, 187, 0.78);
	font-family: 'Raleway';
	/* font: rgb(10, 10, 10);  */
}
h1 {
	color: red;
}
container {
	box-sizing: border-box;
	max-width: auto;
	padding: 0 1rem;
	margin: inherit;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	align-self: center;
	/* border-box: center; */
}
nav {
	padding: 30px 30px 0px 30px;
	flex: var(--sidebar-flex);
	background: rgb(93, 175, 223);
	background: linear-gradient(180deg, rgb(59, 162, 221) 50%, rgb(250, 250, 252) 80%);
}
.condiv {
	padding: 20px;
	background-color: teal;
	flex: var(--condiv-flex);
}

.home {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}
.profilepic {
	border-radius: 50%;
	width: 200px;
	margin: 30px;
}
.typingeffect {
	font-size: var(--typing-font);
	margin-bottom: 30px;
}

nav ul {
	font-size: var(--fontsize-nav);
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	color: white !important;
}
nav ul li {
	margin: 40px;
}
.social {
	position: absolute;
	margin-top: 20px;
	display: flex;
	bottom: 60px;
}
.social i {
	padding-right: 30px;
	font-size: 25px;
	color: #9a9b9c;
}
.social i:hover {
	color: #ffffff;
}
.widecard {
	border: 0px solid red;
	display: flex-flow;
	margin: 30px 0px 30px 0px;
}
.widecard:hover {
	color: #1b1d20;
	background-color: #ffffff;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
@media all {
	:root {
		--fontsize-nav: 1rem;
		--sidebar-flex: 0;
		--typing-font: 2rem;
	}
	article {
		margin-left: 10%;
		margin-right: 10%;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: 18px;
		text-emphasis-color: rgb(168, 54, 54);
	}
 .App {
		margin: auto;
		padding: 2rem;
	}
	.form,
	.posts {
		margin-top: 3rem;
	}
	a {
		text-decoration: none;
		color: white;
	}

	.subtopic {
		margin: 10px 10px 30px 10px !important;
	}
	p {
		font-size: var(--fontsize-p);
	}
	h1,
	h2,
	h3,
	h4,
	p {
		margin: 10px;
	}
}